ul.table-list {
  list-style-type: none;
  margin: 50px ;
}
button.plate {
  margin: 8px;
  width: 200px;
  height: 200px;
}
h2.welcome {
  margin-left: 5%;
}
button.occupied {
  background-color: black;
}

#footer {
  font-size: 25px;
  margin-left: 5%;
}

.food-list {
  float: left;
  margin: 500px;
}

.floatRight {
  float: right;
  margin-right: 40%;

}

.floatLeft {
  float: left;
}

