ul#table-list {
  list-style-type: none;
  margin: 50px ;
}
button.plate {
  margin: 8px;
  width: 200px;
  height: 200px;
}
h2.welcome {
  margin-left: 5%;
}
button.occupied {
  background-color: black;
}

